.allProducts{
    color:rgba(34,34,34,1);
    line-height:25px;
    font-size: 18px;
}
.productContent{
    height:204px;
    float: left;
    padding-right: 24px;
}
.productContent:nth-child(4n){
    padding-right: 0;
}
.allProducts .item{
    width: 300px;
    height: 180px;
    background:rgba(255,255,255,0.5);
    border-radius:2px;
    border:1px solid rgba(217,217,217,1);
    font-size: 16px;
    color:rgba(0,0,0,1);
    text-align: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
.allProducts .item a{
    display: block;
    text-align: center;
    padding-bottom: 16px;
}
.productContent:first-child .item div{
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.allProducts .item .category{
    width:56px;
    height:56px;
    text-align: center;
    line-height: 56px;
    font-size: 16px;
    border-radius: 50%;
    margin:  26px 0 0 30px;
    box-sizing: content-box;
}
.elec_blue{
    border:5px solid rgba(44,146,246,0.3);
    color:rgba(73,140,255,1);
}
.elec_yellow{
    border:5px solid rgba(152,251,152,0.8);
    color:rgba(255,165,0,1);
}
.elec_red{
    border:5px solid rgba(44,146,246,0.3);
    color:rgba(73,140,255,1);
}

.light{
    border:5px solid rgba(255,191,0,0.3);
    color:rgba(223,148,29,1);
}
.envir{
    border:5px solid rgba(91,209,113,0.3);
    color:rgba(64,167,85,1);
}
.security{
    border:5px solid rgba(209,91,91,0.3);
    color:rgba(221,63,63,1);
}
.item .info{
    position: absolute;
    right: 29px;
    bottom: 24px;
}
.info .productName{
    color:rgba(0,0,0,0.85);
    font-size: 21px;
}
.info .productMode{
    color:rgba(0,0,0,0.65);
    font-size: 16px;
}
