.content {
    /* width: 640px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    flex-wrap:wrap;
    min-height: 374px;
    padding:  38px 0 56px;
    box-sizing: border-box;
    margin: 0 auto;
}

.textItem {
    height: 72px;
    width: 192px;
    line-height: 72px;
    border: 2px solid #E1E1E1;
    text-align: center;
    font-size: 30px;
    color: #555555;
    text-overflow: ellipsis;
    margin: 0 32px 32px 0;
    /* display: inline-block; */
    box-sizing: border-box;
}
.textItem:nth-child(3n){
    margin-right: 0;
}