.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #000000;
    opacity: 0.3;
}

.content {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content .titleBar {
    display: flex;
    justify-content: space-between;
    border-bottom: #E1E1E1 solid 1px;
    /*box-shadow: 0 1px 1px #888888;*/
    padding: 34px 32px;
    font-size: 32px;
}


.close:before {
    content: '\2715';
    width: 26px;
}

.confirm {
    width: 64px;

}

.operation {
    /*min-height: 372px;*/
}