.content {
    font-size:32px;
    color:rgba(153,153,153,1);
}
.content:after{
    display: inline-block;
    content: "";
    width: 19.5px;
    height: 19.5px;
    /*border:1px solid;*/
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
}