.item{
    background: #FFFFFF;
    height: 98px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.right{
    font-size: 32px;
    color:  #222222 ;
    margin-left: 30px;
}

.item>:last-child{
    margin-right: 32px;
}