.header{
    height:60px;
    line-height: 60px;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1);
    color:rgba(68,68,68,1);
    font-size:18px;
}
.header img{
    padding-right: 9px;
    vertical-align: text-bottom;
}